<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FlickPicks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div  class="bg-img">
    <div id="container">
        <ion-card [routerLink]="['/movies','movie','popular']" class="card-animation">
          <ion-card-header>
            <ion-card-title>Popular Movie</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card [routerLink]="['/movies','movie','upcoming']" class="card-animation">
          <ion-card-header>
            <ion-card-title>Up Coming Movie</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card [routerLink]="['/movies','tv','popular']" class="card-animation">
          <ion-card-header>
            <ion-card-title>Popular TV</ion-card-title>
          </ion-card-header>
        </ion-card>        
      </div>
    </div>
</ion-content>