<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="type=='movie'">movies</ion-title>
    <ion-title *ngIf="!(type=='movie')">TV</ion-title>
  </ion-toolbar> 
<ion-toolbar >   
    <ion-searchbar  color="light" animated="true" placeholder="Search..." #inputSearch (ionInput)="loadSearch(inputSearch.value)"></ion-searchbar>
  </ion-toolbar>  

  </ion-header>

<ion-content [fullscreen]="true">
  <div  class="bg-img">
  <ion-list>
    <ion-item button *ngFor="let item of movies" [routerLink]="['/details-movies',type,item.id]">
      <ion-avatar slot="start">
        <img [src]="item?.poster_path ?imageBaseUrl+'/w92'+item.poster_path : '../../assets/movies.png'">
      </ion-avatar>
      <ion-label>
        {{item?.title || item?.name}} 
        <p> {{item?.release_date||item?.first_air_date | date:'y'}}
        </p>
      </ion-label>
      <ion-badge slot="end"> {{item.vote_average}} </ion-badge>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Load more data ..">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </div>
</ion-content>
