.bg-img {
    padding: 1px;
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/background1.png");
    //src/assets/background.png
    //background-repeat: repeat-y;
    background-size: contain;
  }

  ion-toolbar {
    --background: #af126c !important;
    --color: #ffffff ;
  }